
body {
    background-color: black;
}

p {
    width: 50%;/* changing this to 400px/50% and removing it do strange things-  why? */ 
    color: black;
    font-size: 2em;
    font-family: comical, sans-serif;
}
p + p {
    text-justify: right;
    float: right;
}
.main {
    background-color: white;
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
}
.ryu {
    float:left;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;

}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
} 

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');  
    display: inline-block;
}
.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}
.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px; 
    height: 90px;
    display: none;
    position: relative;
    top: 176px;
    left: -213px; 
    float: left;
}
.instructions {
    padding-top: 75px;
    padding-right: 75px;
    position: absolute;
    left: 760px;
}
